{% extends 'base.html' %}

{% block extra_head %}
  <script src="/static/js/bill.js"></script>
  <script>
var view = bill.BillView.init('{{ bill_type }}', '{{ bill_number }}');
  </script>
{% endblock %}

{% block content %}
  <div data-bind="visible: is_valid" style="display: none;">
    <h2 class="bill-title">
      <span class="bill-title-number" data-bind="text: display_number"></span>
      <span class="bill-title" data-bind="text: title"></span>
    </h2>

    <p data-bind="text: status_desc"></p>

    <div
        class="bill-committees"
        data-bind="visible: has_committees"
        style="display: none;">
      <p class="bill-committees-referred">
        This bill has been referred to the following committees:
      </p>
      <ul
          class="bill-committees-list"
          data-bind="foreach: committees">
        <li class="bill-commitee">
          <a data-bind="attr: {href: urls.website}, text: name"></a>
        </li>
      </ul>
    </div>

    <div data-bind="visible: !needs_officials()" style="display: none;">
      <h3>How can I help?</h3>

      <div class="action">
        <div data-bind="foreach: actions().keys()">
          <span class="action-what">
            <span data-bind="if: $data == 'sponsor' || $data == 'cosponsor'">
              This bill was sponsored or cosponsored by the following representative(s).
              Contact them to show your support of their bill.
            </span>
            <span data-bind="if: $data == 'committee'">
              The following representatives are on a committee that has been
              asked to report on this bill. Contact them and ask they urge the
              committee to report on the bill, so that it may pass on to the
              House and Senate.
            </span>
            <span data-bind="if: $data == 'house'">
              This bill has been reported for vote to the House and Senate.
              Contact your representatives and voice your support for this bill.
            </span>
            <span data-bind="if: $data == 'senate'">
              This bill has been reported for vote to the Senate.
              Contact your representatives and voice your support for this bill.
            </span>
          </span>

          <table class="action-officials" data-bind="if: $parent.actions().reasons[$data].length > 0">
            <thead>
              <tr>
                <th>Representative</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: $parent.actions().reasons[$data]">
              <tr>
                <td>
                  <a data-bind="attr: {href: official.urls.govtrack}, text: official.name"></a>
                </td>
                <td data-bind="text: official.phone" class="action-official-phone"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
            data-bind="visible: is_action_share"
            style="display: none;">
          <p class="action-callout">
            This best thing you can do is advocate for this bill!
          </p>

          <p>
            None of your representatives can currently act on this bill directly.
            The best thing you can do is raise awareness of this bill and reach out
            to others that have not tried contacting their representatives.
          </p>

          <p class="action-share-link">
            Use this link to share information on this bill:
            <a data-bind="text: title, attr: {href: page_link}"></a>
          </p>
        </div>

      </div>
    </div>

  </div>

  <div
      class="official-lookup"
      data-bind="visible: needs_officials"
      style="display: none;">
    <h3>Find your representatives</h3>

    <p>
      Using your home address, look up your representatives to see how you can
      influence this bill.
    </p>

    <form data-bind="submit: get_offices">
      <label for="address">Address:</label>
      <input type="text" name="address" />

      <input type="submit" value="Find my representatives" />
    </form>
  </div>

  <div data-bind="visible: officials().length" style="display: none;">
    <h3>Your representatives</h3>
    <ul data-bind="foreach: officials" class="my-officials">
      <li data-bind="text: name"></li>
    </ul>
  </div>

  <div class="error" data-bind="visible: error" style="display: none;">
    <h2>Sorry!</h2>

    <p data-bind="text: error"></p>
  </div>
{% endblock %}
